
body {
    background-color: rgb(210, 220, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h1 {
    font-family: inherit;
    font-size: 2.125rem;
    color: tomato;
}


h2 {
    font-size: 1.75rem;
    color: blue;
}


h3 {
    font-size: 1.5rem;
    color: chartreuse;
}